name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build API Gateway
        run: mvn -B clean install
        working-directory: api-gateway

      - name: Build Order Service
        run: mvn -B clean install
        working-directory: order-service

      - name: Build Restaurant Service
        run: mvn -B clean install
        working-directory: restaurant-service

      - name: Build Service Registry
        run: mvn -B clean install
        working-directory: service-registry
